body{
    margin:0;
    padding: none;
    background-color: antiquewhite;
    font-family:'Courier New', Courier, monospace

}
p{
    color: gray;
}
.main-table{
    border-spacing: 10px 0 0;
    border-radius: 0.7em;
    justify-content: center;
    position: relative;
    width: 40%;
    height: 10%;
    text-align: left;
    margin: 100px auto;
    background-color: white;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
.price{
    border-spacing: 10px;
}
.price149{
    color: green;
}
.btn {
    border-radius: 10px;
    background-color: green;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
.btn:hover {
    background-color: goldenrod;
  }
  img {
    
    object-fit: fill;
    max-width: 400px;
}
.image{
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}
  
